@set('isActive', request.matchesRoute(active))
@set('classes', 'flex gap-x-3 text-sm leading-6 font-semibold p-2 pl-3 rounded-md hover:text-indigo-600 hover:bg-gray-50')

@if(isActive)
  @set('classes', 'flex gap-x-3 text-indigo-600 bg-gray-50 text-sm leading-6 font-semibold p-2 pl-3 rounded-md')
@end

<a
  {{
    $props.serializeExcept(['active'], {
      href: route(href),
      class: classes,
    }, false)
  }}
>
  {{ name }}
</a>
