<div class="flex p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg" role="alert">
  @!svg.solidCheckCircle({
    classes: 'flex-shrink-0 inline mr-3'
  })
  <span class="sr-only">Success</span>

  <div>
    <span class="font-medium">{{ message }}</span>
  </div>
</div>

